#desktop-navbar, #mobile-navbar {
  height:120px;
}

#mobile-navbar {
  margin-bottom: 0px !important;
}

#mobile-navbar #home-btn {
  padding:5px 10px 0px 10px !important;
  margin-top: 40px !important;
}

.simple-logo {
  padding:10px;
}

.simple-logo img {
  height:100px;
}

#content {
  min-height:1000px;
}

#home-btn {
  margin-top: 28px !important;
  background:white !important;
  font-size: 35px;
  border:2px solid white;
}

#home-btn:hover {
  border:2px solid #eee;
}

#home-btn:active, #home-btn.active{
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.logo {
  width:200px;
}

p {
  font-size: 20px !important;
}

a {
  color:#3B8F36 !important;
}

a:hover {
  color: #1B6F16 !important;
  text-decoration: none !important;
}

h1, h4 {
  font-family: 'Arvo', serif !important;
  margin-bottom:5px !important;
}

h1, h5 {
  margin-top:0px !important;
}

h3 {
  margin-top: 5px !important;
}

.venue {
  font-weight: bold;
  margin-top:20px;
}

.percent-score-holder {
  height:60px;
  margin-top:10px;
  background: url(simple-logo.png);
  background-size: 20%;
  background-repeat: repeat-x;
}

.percent-score {
  float:left;
}

.percent-score-mask {
  height:100%;
  background:white;
  overflow:hidden
}

img.mary {
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);

  -webkit-transition: 0.1s -webkit-filter linear;
  -moz-transition: 0.1s -moz-filter linear;
  -o-transition: 0.1s -o-filter linear;
  transition: 0.1s -webkit-filter linear;
}

img.mary:hover {
  -webkit-filter: grayscale(10%);
  -moz-filter: grayscale(10%);
  filter: grayscale(10%);
}

.footer {
  border-top:2px solid #eee;
  width:100%;
  padding:20px;
  background: #fafafa;
  text-align:center;
}

.footer p {
  margin:0px;
}

.footer p a span {
  font-size:24px;
}

@media (min-width: 769px) {
  #mobile-navbar { display: none; }
}

@media (max-width: 768px) {
  #desktop-navbar { display: none; }

  h4, h5 {
    text-align: center;
  }

  .percent-score-holder {
    margin: auto;
    max-width: 380px;
    height: 90px;
  }

  .img-responsive {
    margin: 20px auto;
  }
}
