#navbar {
  height:100px;
}

.simple-logo {
  padding-top:10px;
  margin:auto;
  text-align: center;
}

#content {
  padding-top: 20px;
  min-height:1000px;
}

#grid-btn {
  margin-top: 35px !important;
  background:#fafafa !important;
  border:2px solid #eee;
  color:black;
}

.logo {
  width:200px;
}

p {
  font-size: 20px !important;
}

a {
  color:#3B8F36 !important;
}

a:hover {
  color: #1B6F16 !important;
  text-decoration: none !important;
}

h1, h4 {
  font-family: 'Arvo', serif !important;
  margin-bottom:5px !important;
}

h1, h5 {
  margin-top:0px !important;
}

h3 {
  margin-top: 5px !important;
}

.venue {
  font-weight: bold;
  margin-top:20px;
}

.percent-score-holder {
  height:60px;
  margin-top:10px;
  background: url(simple-logo.png);
  background-size: 20%;
  background-repeat: repeat-x;
}

.percent-score {
  float:left;
}

.percent-score-mask {
  height:100%;
  background:white;
  overflow:hidden
}

img.mary {
  cursor: pointer;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);

  -webkit-transition: 0.1s -webkit-filter linear;
  -moz-transition: 0.1s -moz-filter linear;
  -o-transition: 0.1s -o-filter linear;
  transition: 0.1s -webkit-filter linear;
}

img.mary:hover {
  -webkit-filter: grayscale(10%);
  -moz-filter: grayscale(10%);
  filter: grayscale(10%);
}

.footer {
  border-top:2px solid #eee;
  width:100%;
  padding:20px;
  background: #fafafa;
  text-align:center;
}

.footer p {
  margin:0px;
}

.footer p a span {
  font-size:24px;
}

@media (min-width: 769px) {
  .simple-logo { display: none; }
}

@media (max-width: 768px) {
  #grid-btn, .navbar-brand { display: none; }

  h4, h5 {
    text-align: center;
  }

  .percent-score-holder {
    margin: auto;
    max-width: 380px;
    height: 90px;
  }

  .img-responsive {
    margin: 20px auto;
  }
}
